SUPABASE_URL=https://tqiwcgqfdkepytiosmel.supabase.co
SUPABASE_SECRET_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRxaXdjZ3FmZGtlcHl0aW9zbWVsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTkyOTA0NywiZXhwIjoyMDk3NTA1MDQ3fQ.gZ9BJUym8QbUSIyw2VRTRK_uhL_gLQ_tu3KYWVRo97Y